.projetos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 30px 100px;
    height: 100vh;
}

.projetos-titulo{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
.projetos-titulo h1{
    padding: 0px 30px;
    font-size: 70px;
    font-weight: 600;
}
.projetos-titulo img{
    position: absolute;
    margin-left: 35%;
    z-index: -1;
}
.projetos-container{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    gap: 30px;
}
.imgs{
    width: 400px;
    height: 280px;
    border-radius: 1rem;
    box-sizing: border-box;
    transition: 0.3s;
    cursor: pointer;
}
.imgs:hover{
    transform: scale(1.1);
    border: 4px solid #5271FF;
    transition: 0.3s;
    border-radius: 10px;
}

.projetos-mais{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    border: 2px solid white;
    padding: 15px 30px;
    font-weight: 500;
    transition: 0.6s;
}
.projetos-mais:hover{
    gap: 20px;
    transition: 0.6s;
}