.contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
    height: 100vh;
}
.contato-titulo{
    position: relative;
}
.contato-titulo h1{
    padding: 0px 30px;
    font-size: 3rem;
    font-weight: 600;
}
.contato-section{
    display: flex;
    gap: 150px;
}
.contato-left{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.contato-left h1{
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(90deg, #5271FF 30%, #C1FF72 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contato-left p{
    max-width: 550px;
    color: #D8D8D8;
    font-size: 20px;
    line-height: 35px;
}
.contato-details{
    display: flex;
    gap: 30px;
    flex-direction: column;
    color: #D8D8D8;
    font-size: 22px;
}
.contato-details img{
    width: 35px;
    height: 35px;
}
.contato-detail {
    display: flex;
    gap: 20px;
    align-items: center;
}
.contato-form{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}
.contato-form label{
    font-size: 20px;
    color: #D8D8D8;
}
.contato-form input{
    border: none;
    width: 700px;
    height: 78px;
    padding: 20px;
    border-radius: 4px;
    background: #32323c;
    color: #a0a0a0;
    font-family: Outfit;
    font-size: 16px;
}
.contato-form textarea{
    width: 700px;
    border: none;
    padding: 25px;
    border-radius: 4px;
    background: #32323c;
    color: #a0a0a0;
    font-family: Outfit;
    font-size: 16px;
}
.botao-enviar{
    border: none;
    color: white;
    border-radius: 50px;
    background: linear-gradient(90deg, #5271FF 30%, #C1FF72 100%);
    font-size: 22px;
    padding: 20px 60px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.3s;
}
.botao-enviar:hover{
    transform: scale(1.1);
    transition: 0.3s;
}